.login_page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ddd;
}

.login_container{
  margin-top: 5%;
  height: 80%;
}

.login-panel{
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 15px;
  padding: 20px;
}

.panel-heading{
  text-align: center;
  font-weight: bold;
}

.img_logo{
  width: 40%;
  height: 40%;
  border-radius: 25%;
}

.img_logo_reg{
  width: 50px;
  height: 50px;
  border-radius: 25%;
}

.panel-title_reg{
  font-size: 1.5em;
  font-weight: bold;
}

#map{
  position: fixed;
  z-index: 100;
}
