.nav_servi{
	background-color: #07190B;
	width: 100%;
	position: fixed;
	z-index: 101;
	opacity: 0.8;
	height: 10%;
}

.logo_navbar{
	width: 50px;
	height: 50px;
	border-radius: 25%;
}

.logo_colaborador{
	width: 90px;
	height: 90px;
	border-radius: 25%;
	margin:10px auto;
	display:block;
}

.logo_navbar_anchor{
	margin-right: 20px;
}

.nav_tittle{
	color: white;
	font-weight: bold;
}

.sidebar{
	position: fixed;
	top: 10%;
	left: 0%;
	height: 90%;
	width: 20%;
	background-color: #07190B;
	opacity: 0.8;
	z-index: 100;
}

body{
	overflow-x: hidden;
	background: url(../img/fondo1.jpg) repeat;
	background-size: 500px;
}

.side-menu{
	margin-top: 20%;
	text-align: left;
	padding-left: 5px;
	list-style: none;
}

.element-sidebar{
	border: 1px dotted black;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 2px 5px #888888;
	margin-bottom: 17px;
}

.btn_collapse{
	border-radius: 5px;
	background-color: #004949;
	color: white;
	border: 1px solid white;
	cursor: pointer;
}

#page-wrapper{
	position: absolute;
    top: 10%;
    left: 21%;
    width: 77%;
    height: 90%;
}

.categoria_servicio{
	background-color: #004949;
	border-radius: 15px;
	padding: 5%;
	margin-left: 5%;
	margin-top: 4%;
	box-shadow: 5px 5px #888888;
	cursor: pointer;
	height: 90px;

}

.ver_servicio{
	background-color: #004949;
	border-radius: 15px;
	padding: 5%;
	margin-left: 5%;
	margin-top: 4%;
	box-shadow: 5px 5px #888888;
	cursor: pointer;
	height: 90px;
}

.titulo_categoria{
	color: white;
	font-size: 1.8em;
	padding-left: 3%;
	margin-top: 5%;
}

.titulo_servicio{
	color: white;
	font-size: 1.0em;
	padding-left: 3%;
	margin-top: 1%;
	text-decoration: underline;
}

.descripcion_servicio{
	color: #99ff99;
	font-size: 1.0em;
	padding-left: 3%;
	margin-top: 1%;
}

.cont_imagen_categ{
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	margin-top: 10px;
	margin-top: 7%;
}

.cont_texto_categ{
	position: absolute;
	top: 0;
	left: 20%;
	width: 80%;
	height: 100%;
	margin: 0px;
	text-align: center;
	padding-top: 5%;	
}

.register-panel{
	position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	padding-top: 2%;
	overflow-y:	auto;
	overflow-x:	hidden;
	padding-left: 1%;
}

.background {
    background: url(../img/pintura.jpg) center center no-repeat;
    border: 1px solid black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
    height: 250px;
    text-align: center;
    margin-top: 1%;
    margin-left: 7%;
    padding: 0;
}

.transbox {

    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    height: 100%;
    width: 100%;
    padding-top: 95px;

}

.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.titulo_navbar{
    margin: 5%;
    font-weight: bold;
    color: white;
}


@media only screen and (max-width: 700px) {
	.nav_servi{
		background-color: #07190B;
		width: 100%;
		position: fixed;
		height: 20%;
		opacity: 0.8;
	}    
	.sidebar{
		position: fixed;
		top: 20%;
		left: 0%;
		height: 80%;
		width: 70%;
		background-color: #07190B;
		z-index: 100;
		opacity: 0.8;
	}
	#page-wrapper{
		position: absolute;
	    top: 20%;
	    left: 0;
	    width: 100%;
	    height: 80%;
	    z-index: -1;
	}

	.categoria_servicio{
		background-color: #07190B;
		border-radius: 15px;
		padding: 8px;
		margin-left: 0;
	}
	.background {
    	background: url(../img/electronica.jpg) center center no-repeat;
    	border: 2px solid black;
    	-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
    	background-size: cover;
    	cursor: pointer;
    	height: 300px;
    	text-align: center;
    	margin-top: 3%;
    	padding: 0;
	}


	.transbox {

    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    height: 100%;
    width: 100%;
    padding-top: 110px;
}

}

	.solicitud_colaborador{
		border-top: solid;
		border-color: #004949;
		background-color: #faf5e2;
		border-radius: 15px;
		padding: 8px;
		margin-left: 0;
	}

.boton_colaborador {
    background-color: #004949;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-left-width: 8px;
}



