<div id="wrapper" ng-cloak>
    <!-- Navigation -->
        <nav class="navbar nav_servi navbar-default navbar-fixed-top">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn_collapse" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fas fa-bars fa-fw"></i>
                </button>
            </div>

            <div class="navbar-content">
                
               <span class="titulo_navbar">ServiHogApp</span>
                <a class="logo_navbar_anchor" href="index.html">
                    <img class="logo_navbar" src="img/ServiHogAppLogo.jpg" alt="ServiHogApp">
                </a>
            </div>
            <!-- Opciones de la cuenta -->
            <ul class="nav navbar-right navbar-top-links" style="margin-right: 100px;">
                <li class="dropdown">
                    <a class="dropdown-toggle" id="asd" data-toggle="dropdown" href="/main">
                        <i class="fas fa-sign-out-alt"></i>
                        {{ main.username }}
                        <!-- <i class="fa fa-caret-down"></i> -->
                    </a>
                    <ul class="dropdown-menu dropdown-user pull-left text-muted" >
                        <li><a href="#" ng-click="main.logout();"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</a>

                        </li>
                    </ul>
                </li>
            </ul>
           
        </nav>

        <div class="sidebar navbar-collapse" role="navigation">

            <div class="sidebar-nav titulo_navbar">
                <ul class="side-menu">
                    <li ng-repeat="item in main.menu" class="element-sidebar" style="cursor: pointer;">
                        <a ng-click="main.mostrar_item(item);"><i class="{{ item.icono }}"></i>{{ item.titulo }}<span class="fa arrow"></span></a>
                        <ul class="nav-second-level" ng-show="item.mostrar">
                            <li ng-repeat="segundoNivel in item.hijos">
                                <a href="" ng-click="main.cambiar_menu(segundoNivel.estado)">{{ segundoNivel.titulo }}</a>
                                </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- Fin para modificar el menú dinamicamente -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
</div>
