<br>
<div style="text-align: center;">
	<h1 style="color: #267359;">Solicitudes aprobadas</h1>
</div>
<div class="col-md-12" ng-init="ctrl.init_soli_aprobadas();">
	<div class="container">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Nombre Usuario</th>
	        <th>Descripcion servicio</th>
	        <th>Fecha</th>
	        <th>Acciones</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in ctrl.solicitudes_aprobadas">
	        <td>{{item.id_usuario.nombre+" "+item.id_usuario.apellido}}</td>
	        <td>{{item.descripcion_solicitud}}</td>
	        <td>{{item.fecha}}</td>
	        <td>
	        	<a class="btn btn-success" ng-click="ctrl.goEditarServicio(item);" style="color: white;">
					<i class="far fa-edit" aria-hidden="true"></i>Generar contrato
				</a>
			</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>