<h1>Solicitudes de Servicio</h1>
<div class="col-md-12" ng-init="ctrl.init_solicitudes();">
	<br>
	<div ng-repeat="item in ctrl.solicitudes_pendientes">
		<div class="row">
			<div class="col-md-12 col-xs-12  solicitud_colaborador">
				<img class="logo_navbar" src="img/ServiHogAppLogo.jpg" alt="ServiHogApp" width="100" height="100">
				<span class="titulo_solicitud_servicio">{{item.id_usuario.nombre+" "+item.id_usuario.apellido}}</span>
				<div align="right"><span>{{item.fecha}}</span></div>
			</div>
		</div>
		<div class="panel panel-default col-md-12 col-xs-12">
			<div class="panel-body">Descripción del cliente:   {{"  "+item.descripcion_solicitud}}
			<div align="center" style="color: white;">
				<a ng-click="ctrl.cancelar_solicitud(item);" class="btn boton_colaborador" role="button">Cancelar Solicitud</a>
				<a ng-click="ctrl.aceptar_solicitud(item);" class="btn boton_colaborador" role="button">Aceptar Solicitud</a>
			</div>
		</div>
		</div>
	</div>
</div>