<div class="">
    <div id="map" ng-if="!login.ubicacion"></div>
    <div class="row login_container">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
            <div class="solicitud_colaborador">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-if="login.errores">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Estos son los posibles errores:</strong><br>
                  <li>{{ login.fail }}</li>
                </div>
                <div class="panel-heading">
                    <img src="img/ServiHogAppLogo.jpg" class="img_logo_reg">
                    <span class="panel-title_reg">Solicitud de Servicio</span>
                </div>
                <div class="panel-body">
                    <form role="form" name="formSolicitudColaborador" ng-submit="">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <fieldset>                                 
                                        <div class="form-group">
                                        <label>Categoria servicio:</label>
                                        <select class="form-control" placeholder="categoria" ng-model="ctrl.categoria">
                                            
                                        </select>
                                    </div>
                                </fieldset>  
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                        <div class="form-group">
                                        <label>Servicio:</label>
                                        <select class="form-control" placeholder="servicio" ng-model="ctrl.servicio">
                                        </select>
                                    </div>
                                </fieldset>
                            </div>
                            

                            <div class="form-group col-md-12 solicitud_colaborador">
                                        <span class="titulo_solicitud_servicio">Datos Solicitud Cliente</span>
                                    </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <label>Fecha Solicitud:</label>
                                <input class="form-control" placeholder="Fecha Solicitud" name="fechasolicitud" type="date" autofocus ng-model="ctrl.fechasolicitud" required>
                                <br>
                                </fieldset>  
                            </div>
                            <div class="col-md-6">
                                <fieldset> 
                                    <label>Fecha de Servicio:</label>
                                    <input class="form-control" placeholder="Fecha de Servicio" name="fechaservicio" type="date" autofocus ng-model="ctrl.fechaservicio" required>
                                    <br>
                                </fieldset>
                            </div>

                            <div class="col-md-6">
                                <fieldset>
                                        <div class="form-group">
                                        <input class="form-control" placeholder="Dirección exacta" name="direccion" type="text" autofocus ng-model="ctrl.direccion" required>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                        <div class="form-group">
                                        <input class="form-control" placeholder="Descripcion detalla del servicio que desea" name="descripcion" type="text" autofocus ng-model="ctrl.direccion" required>
                                        <br>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="form-group col-md-12 solicitud_colaborador">
                                        <span class="titulo_solicitud_servicio">Datos Solicitud Colaborador</span>
                                    </div>
                            <div class="col-md-4">
                                <fieldset>
                                        <input class="form-control" placeholder="Precio" name="precio" type="text" autofocus ng-model="ctrl.precio" required><br>
                                </fieldset>  
                            </div>
                            <div class="col-md-4">
                                <fieldset>                                  
                                    <button type="submit" class="btn btn-success btn-block boton_colaborador" ng-disabled="">Aprobar</button>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset>
                                    <button type="submit" class="btn btn-success btn-block boton_colaborador" ng-disabled="">Rechazar</button>
                                </fieldset>
                            </div>
                            <button type="submit" class="btn btn-success btn-block boton_colaborador" ng-disabled="">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
