<div class="login_page">
    <div class="row login_container">
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-10">
            <div class="login-panel">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-if="login.errores">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Estos son los posibles errores:</strong><br>
                  <li>{{ login.fail }}</li>
                </div>
                <div class="panel-heading">
                    <br>
                    <img src="img/ServiHogAppLogo.jpg" class="img_logo">
                    <br><br>
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="formLogin" ng-submit="login.login();">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Correo" name="email" type="email" autofocus ng-model="login.email" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contraseña" name="password" type="password" ng-model="login.password" required>
                            </div>
                            <button type="submit" class="btn btn-success btn-block" ng-disabled="formLogin.$invalid" >Iniciar sesión</button>
                        </fieldset>
                    </form>
                    <a ng-click="login.ir_registrarse();">¿Aun no te registras? Forma parte de nosotros</a>
                </div>
            </div>
        </div>
    </div>
</div>
