<div class="login_page">
    <div class="row register-panel" ng-init="login.init_registrarse();">
        <div class="col-md-12 col-xs-12">
            <div class="">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-if="login.errores">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Estos son los posibles errores:</strong><br>
                  <li>{{ login.fail }}</li>
                </div>
                <div class="panel-heading">
                    <img src="img/ServiHogAppLogo.jpg" class="img_logo_reg">
                    <span class="panel-title_reg">Registrate</span>
                </div>
                <div class="panel-body">
                    <form role="form" name="formRegistrarse" ng-submit="login.registrarse();">
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Nombre" name="email" type="text" autofocus ng-model="login.nombre" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="apellido" name="apellido" type="text" ng-model="login.apellido" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="email" name="email" type="email" ng-model="login.email" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="telefono" name="telefono" type="number" ng-model="login.telefono" required>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" placeholder="sexo" ng-model="login.sexo" required>
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="password" name="password" type="password" ng-model="login.password" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="repite password" name="password2" type="password" ng-model="login.password2" required>
                                    </div>
 <!--                                    <button type="submit" class="btn btn-success btn-block" ng-disabled="!login.ubicacion">Registrarse</button> -->
                                </fieldset>  
                            </div>
                            <div class="col-md-4">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Rol:</label>
                                        <select class="form-control" placeholder="rol" ng-model="login.rol" required>
                                            <option value="1">Usuario</option>
                                            <option value="2">Colaborador</option>
                                        </select>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="form-group">
                                        <img src="{{login.imagen_mapa}}" ng-if="login.ubicacion">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Departamento:</label>
                                        <select class="form-control" placeholder="departamento" ng-model="login.departamento" required>
                                            <option value="1">Francisco Morazan</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Colonia" name="colonia" type="text" ng-model="login.colonia" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Direccion especifica" name="direccion_especifica" type="text" ng-model="login.direccion_especifica" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" value="Compartir ubicacion" name="ubicacion" type="button" ng-click="login.obtener_ubicacion();">
                                    </div>
                                    <span ng-if="!login.ubicacion">Favor comparte tu ubicacion</span>
                                    <br>
                                </fieldset>  
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button type="submit" class="btn btn-success btn-block" ng-disabled="!login.ubicacion">Registrarse</button>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
