




<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Contratar Colaborador</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="descripcion">descripcion del servicio (detalle):</label>
          <input type="text" class="form-control" ng-model="ctrl.cc_descripcion_solicitud">
        </div>
        <div class="form-group">
          <label>Fecha de servicio:</label>
          <input type="date" class="form-control" ng-model="ctrl.cc_fecha_servicio">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="ctrl.contratar_colaborador_servicio();">Contratar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<br>
<div style="text-align: center;">
	<h1 style="color: #267359;">Colaboradores por Servicios Disponibles</h1>
</div>

<div class="col-md-12" ng-init="ctrl.init_colaboradores_servicios();">
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="item in ctrl.colaboradores" >
    <div class="thumbnail solicitud_colaborador"  >
      <p>Puntuación: {{item.puntuacion}} /10</p>
      <center>
      <img class="logo_colaborador" src="{{item.id_usuario.foto_perfil}}" alt="...">
      <div class="caption">
        <h3>{{item.id_usuario.nombre + ' ' + item.id_usuario.apellido}}</h3>
        <p>{{item.descripcion}}</p>
        <p><a class="btn btn-primary" role="button" ng-click="ctrl.mostrar_contratar_colaborador(item);">Contratar</a></p>
      </div>
      </center>
    </div>
  </div>
</div>
</div>