<div class="">
    <div id="map" ng-if="!login.ubicacion"></div>
    <div class="row login_container">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
            <div class="solicitud_colaborador">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-if="login.errores">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Estos son los posibles errores:</strong><br>
                  <li>{{ login.fail }}</li>
                </div>
                <div class="panel-heading">
                    <img src="img/ServiHogAppLogo.jpg" class="img_logo_reg">
                    <span class="panel-title_reg">Perfil</span>
                </div>
                <div class="panel-body">
                    <form role="form" name="formPerfilColaborador" ng-submit="">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Foto de perfil:</label>
                                        <input class="form-control" type="file" name="foto_perfil" ng-model="login.foto_perfil" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Nombre" name="nombre" type="text" autofocus ng-model="login.nombre" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Apellido" name="apellido" type="text" ng-model="login.apellido" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Correo Electronico" name="email" type="email" ng-model="login.email" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Telefono" name="telefono" type="number" ng-model="login.telefono" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha nacimiento:</label>
                                        <input class="form-control" placeholder="Fecha Nacimiento" name="fecha_nacimiento" type="date" ng-model="login.fecha_nacimiento" required>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" placeholder="sexo" ng-model="login.sexo" required>
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                        </select>
                                    </div>
                                    
                                    
                                </fieldset>  
                            </div>
                            
                            <div class="col-md-6">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Departamento:</label>
                                        <select class="form-control" placeholder="departamento" ng-model="login.departamento" required>
                                            <option value="1">Francisco Morazan</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Colonia" name="colonia" type="text" ng-model="login.colonia" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Direccion especifica" name="direccion_especifica" type="text" ng-model="login.direccion_especifica" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" value="Compartir ubicacion" name="ubicacion" type="button" ng-click="login.obtener_ubicacion();">
                                    </div>
                                    <span ng-if="!login.ubicacion">Favor comparte tu ubicacion</span>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="password" name="password" type="password" ng-model="login.password" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="repite password" name="password2" type="password" ng-model="login.password2" required>
                                    </div>


                                    
                                </fieldset>
                            </div>
                            <button type="submit" class="btn btn-success btn-block boton_colaborador" ng-disabled="!login.ubicacion">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>