<br>
<div style="text-align: center;">
	<h1 style="color: #267359;">Servicios Adquiridos</h1>
</div>
<div class="col-md-12" ng-init="ctrl.init_solicitudes();">
	<div class="container">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Nombre Colaborador</th>
	        <th>Descripcion servicio</th>
	        <th>Fecha</th>
	        <th>Estado</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in ctrl.solicitudes" style="color: black;">
	        <td>{{item.id_usuario.nombre+" "+item.id_usuario.apellido}}</td>
	        <td>{{item.descripcion_solicitud}}</td>
	        <td>{{item.fecha}}</td>
	        <td ng-if="item.aprobado == 1">Aprobado</td>
	        <td ng-if="item.aprobado == 0">Sin aprobar</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>
	