<br>
<!-- ver servicios -->
<div style="text-align: center;">
  <h1 style="color: #267359;">Servicios</h1>
</div>
<div class="col-md-12" ng-init="ctrl.init_servicios();">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 background" ng-repeat="item in ctrl.servicios" ng-click='ctrl.mostrar_colaborador_servicio(item)' style="background: url({{item.imagen}}) center center no-repeat;">
      <div class ="transbox">
      <!--<div class="cont_imagen_categ">
        <img class="logo_navbar" src="img/ServiHogAppLogo.jpg" alt="ServiHogApp">
      </div>-->
        <p><span class="titulo_categoria">{{item.nombre}}</span></p>
    </div>
  </div>
</div>
