<br>
<div style="text-align: center;">
	<h1 style="color: #267359;">Agregar servicio</h1>
</div>
<div class="col-md-12" ng-init="ctrl.init_editUser();">
	<div class="container" style="margin-top: 1em;">
    <form id="frm_actualizar_user" enctype="multipart/form-data" role="form" ng-submit="ctrl.actualizar_usuario();">
        <div class="card person-card">
            <div class="card-body">
                <img id="img_foto_perfil_edit" class="person-img"
                    src="{{ctrl.user_actual.foto_perfil}}" style="width: 10em;position: absolute;top: -5.7em;left: 90%;margin-left: -5em;border-radius: 100%;overflow: hidden;background-color: white;">
                <h3 id="who_message" class="card-title">Nuevo Servicio</h3>
                <div class="row">
                    <!-- <div class="form-group col-md-2">
                        <select ng-model="ctrl.user_actual.sexo" class="form-control">
                            <option value="M">Categoria</option>
                        </select>
                    </div> -->
                    <div class="form-group col-md-5">
                        <label class="col-form-label">Nombre servicio</label>
                        <input ng-model="ctrl.user_actual.nombre" type="text" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="col-form-label">Imagen</label>
                        <input id="imagen_perfil" type="file" value="imagen_perfil" class="form-control"  name="imagen_perfil" accept="image/*">
                    </div>
                </div>
            </div>
        </div>
        </form>
	</div>
</div>