<br>
<div style="text-align: center;">
	<h1 style="color: #267359;">Editar usuario</h1>
</div>
<div class="col-md-12" ng-init="ctrl.init_editUser();">
	<div class="container" style="margin-top: 1em;">
    <form id="frm_actualizar_user" enctype="multipart/form-data" role="form" ng-submit="ctrl.actualizar_usuario();">
        <div class="card person-card">
            <div class="card-body">
                <img id="img_foto_perfil_edit" class="person-img"
                    src="{{ctrl.user_actual.foto_perfil}}" style="width: 10em;position: absolute;top: -5.7em;left: 90%;margin-left: -5em;border-radius: 100%;overflow: hidden;background-color: white;">
                <h3 id="who_message" class="card-title">Datos Personales</h3>
                <div class="row">
                    <div class="form-group col-md-2">
                        <select ng-model="ctrl.user_actual.sexo" class="form-control">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <input ng-model="ctrl.user_actual.nombre" type="text" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group col-md-5">
                        <input ng-model="ctrl.user_actual.apellido" type="text" class="form-control" placeholder="Apellido" required>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="col-form-label">Fotografia</label>
                        <input id="imagen_perfil" type="file" value="imagen_perfil" class="form-control"  name="imagen_perfil" accept="image/*">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6" style="padding=0.5em;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Como contactarte</h2>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Correo</label>
                            <input type="email" class="form-control" ng-model="ctrl.user_actual.email" placeholder="example@gmail.com" required>
                        </div>
                        <div class="form-group">
                            <label for="tel" class="col-form-label">Telefono</label>
                            <input type="text" class="form-control" ng-model="ctrl.user_actual.telefono" placeholder="+33 6 99 99 99 99" required>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6">
                <div class="card"> 
                    <div class="card-body">
                        <h3 class="card-title">Otros datos</h3>
                        <div class="form-group">
                            <label class="col-form-label">Rol</label>
                            <select ng-model="ctrl.user_actual.id_rol" class="form-control">
                            	<option value="1">Cliente</option>
                            	<option value="2">Colaborador</option>
                            	<option value="3">Administrador</option>
                        	</select>
                        </div>
                        <div class="form-group">
                            <label for="password_conf" class="col-form-label">Pasword</label>
                            <input type="password" class="form-control" placeholder="Type new password" ng-model="ctrl.user_actual.password">
                        </div>
                    </div>
                </div>
            </div>
        	<div class="col-md-3 col-xs-0"></div>
        	<div class="col-md-6 col-xs-12">
            	<div class="form-group" style="margin-top: 1em;">
            		<button type="submit" class="btn btn-success btn-lg btn-block form-control">Editar</button>
        		</div>
            </div>
        </div>
        </form>
	</div>
</div>