<br>
<div style="text-align: center;">
	<h1 style="color: #267359;">Servicios</h1>
</div>
<div class="col-md-12" ng-init="ctrl.init_servicios();">
	<div class="container">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Nombre</th>
	        <th>Descripcion</th>
	        <th>Categoria</th>
	        <th>Servicio a domicilio</th>
	        <th>Acciones</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in ctrl.servicios">
	        <td>{{item.nombre}}</td>
	        <td>{{item.descripcion}}</td>
	        <td>{{item.id_categoria.descripcion}}</td>
	        <td ng-if="item.servicio_domicilio == 1">Si</td>
	        <td ng-if="item.servicio_domicilio == 0">No</td>
	        <td>
	        	<a class="btn btn-success" ng-click="ctrl.goEditarServicio(item);" style="color: white;">
					<i class="far fa-edit" aria-hidden="true"></i>
				</a>
			</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>