<br>
<div style="text-align: center;">
	<h1 style="color: #267359;">Usuarios</h1>
</div>
<div class="col-md-12" ng-init="ctrl.init_usuarios();">
	<div class="container">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Nombre</th>
	        <th>Apellido</th>
	        <th>Correo</th>
	        <th>Telefono</th>
	        <th>Rol</th>
	        <th>Acciones</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in ctrl.usuarios">
	        <td>{{item.nombre}}</td>
	        <td>{{item.apellido}}</td>
	        <td>{{item.email}}</td>
	        <td>{{item.telefono}}</td>
	        <td>{{item.id_rol.descripcion}}</td>
	        <td>
	        	<a class="btn btn-success" ng-click="ctrl.goEditarUser(item);" style="color: white;">
					<i class="fas fa-user-edit" aria-hidden="true"></i>
				</a>
				<a class="btn btn-danger" data-toggle="modal" data-target="#myModal" ng-click="ctrl.send_disable_user(item);" style="color: white;">
					<i class="fa fa-user-times" aria-hidden="true"></i>
				</a>
			</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>